#home.chapter

  //h1 Sistemium

  p.lead(translate='HOMEPAGE.LEAD')

  md-list.services

    //md-list-item
      md-icon.md-avatar-icon(aria-label='Business formation')
        i.fa.fa-cogs
      .md-list-item-text(translate='services.businessFormation')

    md-list-item
      md-icon.md-avatar-icon(aria-label='Mobile apps development')
        i.fa.fa-tablet
      .md-list-item-text(translate='services.mobileApps')

    md-list-item
      md-icon.md-avatar-icon(aria-label='Desktop web apps development')
        i.fa.fa-desktop
      .md-list-item-text(translate='services.webApps')

    md-list-item
      md-icon.md-avatar-icon(aria-label='Cloud-based infrastructure')
        i.fa.fa-server
      .md-list-item-text(translate='services.infrastructure')

    md-list-item
      md-icon.md-avatar-icon(aria-label='First-class customer support')
        i.fa.fa-users
      .md-list-item-text(translate='services.support')

  .options

    md-button.md-raised.md-primary(
      aria-label='Our expertise'
      translate='HOMEPAGE.options.expertise'
      ui-sref='products'
    )

    md-button.md-raised(
      aria-label='Learn more'
      translate='HOMEPAGE.options.learn'
      ui-sref='services'
    )

    md-button.md-raised(
      aria-label='Contact us'
      translate='HOMEPAGE.options.contact'
      ui-sref='contacts'
    )
