#products.chapter

  //h1 Sistemium

  p.lead(translate='PRODUCTS-PAGE.LEAD')


  h2(translate='PRODUCTS-PAGE.warehouse.title')

  img(
    src='/static/urban-687.svg'
    width="200"
  )

  p.text.
    {{ 'PRODUCTS-PAGE.warehouse.simpleButEffective' | translate }}

  h2(translate='PRODUCTS-PAGE.iot.title')

  img(
    src='/static/juicy-smart-house-with-iot-devices.svg'
    width="200"
  )

  p.text.
    {{ 'PRODUCTS-PAGE.iot.description' | translate }}

  h2(translate='PRODUCTS-PAGE.maintenance.title')

  img(
    src='/static/marginalia-electrician-fixing-sockets.svg'
    width="200"
  )

  p.text.
    {{ 'PRODUCTS-PAGE.maintenance.description' | translate }}
