#products.chapter

  //h1 Sistemium

  p.lead(translate='PRODUCTS-PAGE.LEAD')

  section.warehouse
    h2(translate='PRODUCTS-PAGE.warehouse.title')

    img(
      src='/static/urban-687.svg'
      width="200"
    )

    p.text.
      {{ 'PRODUCTS-PAGE.warehouse.simpleButEffective' | translate }}

  section.iot
    h2(translate='PRODUCTS-PAGE.iot.title')

    img(
      src='/static/juicy-smart-house-with-iot-devices.svg'
      width="200"
    )

    p.text.
      {{ 'PRODUCTS-PAGE.iot.description' | translate }}

  section.maintenance
    h2(translate='PRODUCTS-PAGE.maintenance.title')

    img(
      src='/static/marginalia-electrician-fixing-sockets.svg'
      width="200"
    )

    p.text.
      {{ 'PRODUCTS-PAGE.maintenance.description' | translate }}

  section.pico
    h2(translate='PRODUCTS-PAGE.pico.title')

    img(
      src='/static/clip-computer-motherboard.svg'
      width="200"
    )

    p.text.
      {{ 'PRODUCTS-PAGE.pico.description' | translate }}

  section.integration
    h2(translate='PRODUCTS-PAGE.integration.title')

    img(
      src='/static/cubes-international-business-team-and-globalization.svg'
      width="200"
    )

    p.text.
      {{ 'PRODUCTS-PAGE.integration.description' | translate }}
