md-toolbar.toolbar-fixed-top.white-background.md-menu-toolbar(
layout='row'
layout-align='center center'
style='border-bottom: 1px solid rgba(0, 0, 0, 0.43); padding: 0 5px'
)

  div(style='margin:0' layout='row' layout-align='center center')
    img(src='/app/images/logo-square.png' style='width: 35px; height: 35px; margin-right: 5px')
    p(hide-xs) SISTEMIUM

  div(layout='row' layout-align='end center' style='height: 100%; width: 100%' flex)
    md-button(
    ng-repeat='item in vm.items track by item.state'
    style='margin: 0; height: 64px'
    translate="{{ item.translate }}"
    aria-label='{{ item.state }}'
    ng-click='vm.changeState(item)'
    )

  md-menu.lang
    md-button(
    aria-label='Choose language'
    ng-click='vm.openMenu($mdMenu, $event)'
    layout='row' layout-align='center center'
    style='margin: 0; height: 64px'
    )
      span(hide-xs) {{vm.lang.toUpperCase()}}
      i.material-icons language

    md-menu-content(width='1')
      md-menu-item(ng-repeat='lang in vm.languages track by lang.key')
        md-button(
        ng-click='vm.changeLanguage(lang)'
        ng-class='{active: lang.key == vm.lang}'
        )
          p {{lang.label}}
          md-icon.flag-icon(ng-class='"flag-icon-" +lang.key')

  md-menu.style
    md-button(
    aria-label='Choose style'
    ng-click='vm.openMenu($mdMenu, $event)'
    layout='row' layout-align='center center'
    style='margin: 0; height: 64px'
    )
      span(hide-xs translate='STYLES.{{vm.style}}') STYLES.{{vm.style}}
      i.material-icons color_lens

    md-menu-content(width='1')
      md-menu-item(ng-repeat='style in vm.availableStyles track by $index')
        md-button(ng-click='vm.changeStyle(style)' ng-class='{active: style == vm.style}')
          p(translate='STYLES.{{style}}') {{vm.availableStyles}}
