md-toolbar.toolbar-fixed-top.md-menu-toolbar

  a.logo(href ng-click='vm.changeState("home")')
    img(ng-src='/app/images/3colors144.png')

  .buttons

    md-button(
    hide-xs
    ng-repeat='item in vm.items track by item.state'
    translate="{{ item.translate }}"
    aria-label='{{ item.state }}'
    ng-click='vm.changeState(item)'
    ng-class='{active: item.state === vm.currentState}'
    )

    md-menu.sandwich-button(show-xs hide)
      md-button(
      aria-label='Choose language'
      ng-click='vm.openMenu($mdMenu, $event)'
      )
        i.material-icons storage

      md-menu-content(width='3')
        md-menu-item(ng-repeat='item in vm.items track by item.state')
          md-button(
          ng-class='{active: item.state === vm.currentState}'
          translate="{{item.translate}}"
          ng-click='vm.changeState(item)'
          aria-label="{{item.translate}}"
          )

  md-menu.lang
    md-button(
    aria-label='Choose language'
    ng-click='vm.openMenu($mdMenu, $event)'
    )
      span(hide-xs) {{vm.lang.toUpperCase()}}
      i.material-icons language

    md-menu-content(width='3')
      md-menu-item(ng-repeat='lang in vm.languages track by lang.key')
        md-button.lang-button(
        ng-click='vm.changeLanguage(lang)'
        ng-class='{active: lang.key === vm.lang}'
        )
          p {{lang.label}}
          md-icon.flag-icon(ng-class='lang.class')

  md-menu.style
    md-button(
    aria-label='Choose style'
    ng-click='vm.openMenu($mdMenu, $event)'
    )
      span(hide-xs translate='STYLES.{{vm.style}}') STYLES.{{vm.style}}
      i.material-icons color_lens

    md-menu-content(width='1')
      md-menu-item(ng-repeat='style in vm.availableStyles track by $index')
        md-button(ng-click='vm.changeStyle(style)' ng-class='{active: style == vm.style}')
          p(translate='STYLES.{{style}}') {{vm.availableStyles}}
